In [42]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import gc
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import codecs
from nltk.tokenize import PunktSentenceTokenizer
from nltk.tokenize import sent_tokenize, word_tokenize, TreebankWordTokenizer
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from nltk.corpus import wordnet
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import  re
%matplotlib inline

In [2]:
train_path = 'train.csv'

In [3]:
def load_data(path):
    
    df = pd.read_csv(path, encoding = 'UTF-8')
    return df

In [103]:
df_train = load_data(train_path)

In [91]:
df_train.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [104]:
df_train = df_train.drop(['id', 'qid1', 'qid2'], axis=1)

In [105]:
df_train.head()

,question1,question2,is_duplicate
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [106]:
def simpleFilter(sentence):

    filtered_sent = []
    sentence = re.sub(r'[^a-zA-Z0-9]', ' ', sentence)

    lemmatizer = WordNetLemmatizer()
    stop_words = set(stopwords.words("english"))
    words = word_tokenize(sentence)
    

    for w in words:
            if w.lower() not in stop_words:
                    filtered_sent.append(w)
                    
    filtered_sent = ' '.join(filtered_sent)

    return filtered_sent

In [107]:
def split_dataset(df, start, end):
    
    return df.iloc[start:end, :]

In [108]:
train = split_dataset(df_train, 0, 100000)
val = split_dataset(df_train, 100001, 300000)

In [109]:
train['question1'] = train['question1'].apply(simpleFilter)

/home/sharad30/miniconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [111]:
train['question2'] = train['question2'].apply(simpleFilter)

/home/sharad30/miniconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [112]:
train.head()

,question1,question2,is_duplicate
0,step step guide invest share market india,step step guide invest share market,0
1,story Kohinoor Koh Noor Diamond,would happen Indian government stole Kohinoor ...,0
2,increase speed internet connection using VPN,Internet speed increased hacking DNS,0
3,mentally lonely solve,Find remainder math 23 24 math divided 24 23,0
4,one dissolve water quikly sugar salt methane c...,fish would survive salt water,0

In [114]:
vect = TfidfVectorizer()
question1 = vect.fit_transform(train['question1'])
pd.DataFrame(question1.toarray(), columns = vect.get_feature_names())

MemoryError: