In [388]:
import numpy as np 
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt  
import seaborn as sns
from scipy import stats
#For some Statistics
from scipy.stats import norm, skew
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestClassifier

In [389]:
def load_csv():
    path = "/home/sejal/Documents/datascience/dataset/data/bank-additional/bank-additional-full.csv"
    #return pd.read_csv('/Users/acko068/Desktop/bank-additional/bank-additional-full.csv', sep=';')
    return pd.read_csv(path, sep=';')

In [390]:
def get_train_test(df, test_size=0.2):
    y = df.y
    X = df.drop('y', axis=1)
    return train_test_split(X, y, test_size=test_size, random_state=9)

In [391]:
df = load_csv()
df.head()
df.y.replace(('yes','no'),(1,0), inplace=True)

In [392]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

In [393]:
df.columns

Index([u'age', u'job', u'marital', u'education', u'default', u'housing',
       u'loan', u'contact', u'month', u'day_of_week', u'duration', u'campaign',
       u'pdays', u'previous', u'poutcome', u'emp.var.rate', u'cons.price.idx',
       u'cons.conf.idx', u'euribor3m', u'nr.employed', u'y'],
      dtype='object')

In [394]:
def get_categorical_features(df):
    numeric_feature = [a for a in range(len(df.dtypes)) if df.dtypes[a] in ['int8','int64','float64']]
    return df.columns.difference(df.columns[numeric_feature])

In [395]:
def label_encode(column_list, df):
    le = LabelEncoder()
    for col in column_list:
        df[col] = le.fit_transform(df[col])

In [396]:
def preprocess_data(X):
    
    
    
    #X["called_before"] = np.where(X["pdays"]==999,0,1)
    
    #clist= get_categorical_features(X)
    
    
    
    #X = pd.concat([X,oh_encode], axis=1)
    
    
    #print(X.head())
    return X

In [397]:
def remove_unwanted(X):
    X.drop("pdays",axis=1, inplace=True)
    X.drop("duration",axis=1, inplace=True)
    X.drop("nr.employed",axis=1, inplace=True)
    X.drop("day_of_week",axis=1, inplace=True)
    X.drop("poutcome",axis=1, inplace=True)

In [398]:
def apply_qcut(X, col):
    X[col] = pd.qcut(X[col],4 ,labels=False)

In [399]:
def onehot_encode(X, oh_col):
    X = pd.get_dummies(X, columns=oh_col)
    return X
    #X.drop(oh_col,axis=1, inplace=True)

In [400]:
def impute_unknowns(df, column):
    col_values = df[column].values
    df[column] = np.where(col_values=='unknown', df[column].mode(), col_values)

In [408]:
#Drop unwanted cols
def remove_oh_cols(X):
    X.drop("loan_no",axis=1, inplace=True)
    X.drop("housing_no",axis=1, inplace=True)
    X.drop("default_unknown",axis=1, inplace=True)

In [401]:
remove_unwanted(df)

In [410]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,campaign,...,job_student,job_technician,job_unemployed,job_unknown,loan_unknown,loan_yes,marital_divorced,marital_married,marital_single,marital_unknown
0,3,housemaid,married,basic.4y,no,no,no,telephone,6,1,...,0,0,0,0,0,0,0,1,0,0
1,3,services,married,high.school,unknown,no,no,telephone,6,1,...,0,0,0,0,0,0,0,1,0,0
2,1,services,married,high.school,no,yes,no,telephone,6,1,...,0,0,0,0,0,0,0,1,0,0
3,2,admin.,married,basic.6y,no,no,no,telephone,6,1,...,0,0,0,0,0,0,0,1,0,0
4,3,services,married,high.school,no,no,yes,telephone,6,1,...,0,0,0,0,0,1,0,1,0,0

In [403]:
apply_qcut(df,"age")

In [404]:
label_encode(['month'],df)

In [406]:
#one hot encoding
oh_list = ['contact', 'default', 'education', 'housing',
    'job', 'loan', 'marital']
#for col in oh_list:
ohot_df = onehot_encode(df,oh_list)
df = pd.concat([df, ohot_df], axis=1)

In [409]:
remove_oh_cols(df)

In [278]:
df.shape()

TypeError: 'tuple' object is not callable

In [261]:
X_train, X_test, y_train, y_test = get_train_test(df, 0.1)

In [262]:
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_train, y_train, test_size=0.1, random_state=9)

In [249]:
# #impute unknows for X_train_2
# impute_unknowns(X_train_2,'marital')
# impute_unknowns(X_train_2,'education')
# impute_unknowns(X_train_2,'housing')
# impute_unknowns(X_train_2,'job')
# impute_unknowns(X_train_2,'loan')

In [246]:
X_train_2.columns

Index([u'age', u'month', u'campaign', u'previous', u'emp.var.rate',
       u'cons.price.idx', u'cons.conf.idx', u'euribor3m', u'age', u'month',
       u'campaign', u'previous', u'emp.var.rate', u'cons.price.idx',
       u'cons.conf.idx', u'euribor3m', u'contact_cellular',
       u'contact_telephone', u'default_no', u'default_yes',
       u'education_basic.4y', u'education_basic.6y', u'education_basic.9y',
       u'education_high.school', u'education_illiterate',
       u'education_professional.course', u'education_university.degree',
       u'housing_yes', u'job_admin.', u'job_blue-collar', u'job_entrepreneur',
       u'job_housemaid', u'job_management', u'job_retired',
       u'job_self-employed', u'job_services', u'job_student',
       u'job_technician', u'job_unemployed', u'loan_yes', u'marital_divorced',
       u'marital_married', u'marital_single'],
      dtype='object')

In [263]:
X_train_2.shape()

TypeError: 'tuple' object is not callable

In [247]:
sm = SMOTE(random_state=12)
x_train_res, y_train_res = sm.fit_sample(X_train_2, y_train_2)

ValueError: bad input shape (33362, 2)

In [240]:
X_test_2.columns

Index([u'age', u'month', u'campaign', u'previous', u'emp.var.rate',
       u'cons.price.idx', u'cons.conf.idx', u'euribor3m', u'age', u'month',
       u'campaign', u'previous', u'emp.var.rate', u'cons.price.idx',
       u'cons.conf.idx', u'euribor3m', u'contact_cellular',
       u'contact_telephone', u'default_no', u'education_basic.4y',
       u'education_basic.6y', u'education_basic.9y', u'education_high.school',
       u'education_illiterate', u'education_professional.course',
       u'education_university.degree', u'housing_yes', u'job_admin.',
       u'job_blue-collar', u'job_entrepreneur', u'job_housemaid',
       u'job_management', u'job_retired', u'job_self-employed',
       u'job_services', u'job_student', u'job_technician', u'job_unemployed',
       u'loan_yes', u'marital_divorced', u'marital_married',
       u'marital_single'],
      dtype='object')

In [241]:
X_train_2.columns

Index([u'age', u'month', u'campaign', u'previous', u'emp.var.rate',
       u'cons.price.idx', u'cons.conf.idx', u'euribor3m', u'age', u'month',
       u'campaign', u'previous', u'emp.var.rate', u'cons.price.idx',
       u'cons.conf.idx', u'euribor3m', u'contact_cellular',
       u'contact_telephone', u'default_no', u'default_yes',
       u'education_basic.4y', u'education_basic.6y', u'education_basic.9y',
       u'education_high.school', u'education_illiterate',
       u'education_professional.course', u'education_university.degree',
       u'housing_yes', u'job_admin.', u'job_blue-collar', u'job_entrepreneur',
       u'job_housemaid', u'job_management', u'job_retired',
       u'job_self-employed', u'job_services', u'job_student',
       u'job_technician', u'job_unemployed', u'loan_yes', u'marital_divorced',
       u'marital_married', u'marital_single'],
      dtype='object')

In [229]:
test_smote = pd.DataFrame(x_train_res, columns = X_test_2.columns.values)

ValueError: Shape of passed values is (43, 59154), indices imply (42, 59154)

In [66]:
test_y = pd.Series(y_train_res)

In [67]:
rf = RandomForestClassifier()
rf.fit(test_smote, test_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [68]:
y_pred = rf.predict_proba(X_test_2)[:,1]

In [69]:
y_pred1 = rf.predict(X_test_2)

In [70]:
rf.feature_importances_

array([0.08410313, 0.05921212, 0.07514222, 0.06365559, 0.07454017,
       0.02975597, 0.02239604, 0.04599419, 0.02687278, 0.09215786,
       0.07153302, 0.02643192, 0.03759086, 0.03149357, 0.19924935,
       0.05987121])

In [71]:
metrics.roc_auc_score(y_test_2,y_pred)

0.7238274040603321

In [72]:
metrics.recall_score(y_test_2,y_pred1)

0.2731829573934837