In [33]:
# Importing necessary packages
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
dataframe = pd.read_csv('/home/sejal/Documents/datascience/dataset/data/loan_prediction.csv')

In [3]:
dataframe.head(5)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,5849,0.0,0.0,360.0,1.0,1
1,4583,1508.0,128.0,360.0,1.0,0
2,3000,0.0,66.0,360.0,1.0,1
3,2583,2358.0,120.0,360.0,1.0,1
4,6000,0.0,141.0,360.0,1.0,1

In [4]:
X = dataframe.iloc[:,0:5]
y = dataframe.iloc[:,5]

In [5]:
X.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,5849,0.0,0.0,360.0,1.0
1,4583,1508.0,128.0,360.0,1.0
2,3000,0.0,66.0,360.0,1.0
3,2583,2358.0,120.0,360.0,1.0
4,6000,0.0,141.0,360.0,1.0

In [6]:
y.head()

0    1
1    0
2    1
3    1
4    1
Name: Loan_Status, dtype: int64

In [9]:
# create training and testing vars
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
print X_train.shape, y_train.shape
print X_test.shape, y_test.shape

(552, 5) (552,)
(62, 5) (62,)

In [18]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X_train, y_train, test_size=0.1)

print X_train1.shape, y_train1.shape
print X_test1.shape, y_test1.shape

(496, 5) (496,)
(56, 5) (56,)

In [45]:
#model-1
clf1 = DecisionTreeClassifier(criterion='gini',max_depth=2)
clf1.fit(X_train1,y_train1)
y1_pred = clf1.predict_proba(X_test)[:,1]
print y1_pred

[[0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.77941176 0.22058824]
 [0.19736842 0.80263158]
 [0.77941176 0.22058824]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.77941176 0.22058824]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.77941176 0.22058824]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.77941176 0.22058824]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.77941176 0.22058824]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.63636364 0.36363636]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.19736842 0.80263158]
 [0.77941176 0.22058824]
 [0.77941176 0.22058824]
 [0.19736842 0.80263158]
 [0.77941176 0.22058824]
 [0.19736842 0.80263158]
 [0.63636364 0.36363636]]

In [30]:
#model-2
clf2 = DecisionTreeClassifier(criterion='entropy',max_depth=3)
clf2.fit(X_train1,y_train1)
y2_pred = clf2.predict_proba(X_test)[:,1]
print y2_pred

[0.82392027 0.82392027 0.82392027 0.82392027 0.82392027 0.82392027
 0.82392027 0.82392027 0.82392027 0.82392027 0.72151899 0.82392027
 0.82392027 0.82392027 0.82392027 0.82392027 0.30693069 0.82392027
 0.30693069 0.82392027 0.72151899 0.82392027 0.72151899 0.82392027
 0.82392027 0.82392027 0.82392027 0.82392027 0.82392027 0.30693069
 0.72151899 0.82392027 0.82392027 0.30693069 0.82392027 0.82392027
 0.82392027 0.72151899 0.82392027 0.72151899 0.30693069 0.72151899
 0.72151899 0.82392027 0.82392027 0.30693069 0.82392027 0.72151899
 0.72151899 0.82392027 0.82392027 0.82392027 0.30693069 0.82392027
 0.82392027 0.82392027 0.30693069 0.30693069 0.82392027 0.30693069
 0.72151899 0.30693069]

In [34]:
#model-3
clf3 = LogisticRegression()
clf3.fit(X_train1,y_train1)
y3_pred = clf3.predict_proba(X_test)[:,1]
print y3_pred

[0.79262332 0.78002297 0.76851961 0.56809993 0.77125111 0.75595932
 0.79558155 0.78044514 0.79448475 0.79731618 0.88219993 0.79700078
 0.79521764 0.85063218 0.53557951 0.79091205 0.33758086 0.83470263
 0.33652649 0.77677274 0.78985582 0.7901574  0.76433581 0.71723385
 0.78203637 0.75232375 0.79126454 0.80326783 0.79547545 0.33485865
 0.83922173 0.78336275 0.75859446 0.26570791 0.75318382 0.78091577
 0.47132545 0.65239193 0.78737472 0.75422193 0.40380486 0.7198772
 0.85237545 0.80736491 0.73745506 0.34726927 0.75234583 0.79334696
 0.79848079 0.78230839 0.78556623 0.76092118 0.33697309 0.88622966
 0.7843374  0.7886961  0.33086823 0.3474155  0.79010512 0.3091044
 0.82402856 0.41222093]

In [37]:
#model-4
clf4 = LogisticRegression(penalty="l1")
clf4.fit(X_train1,y_train1)
y4_pred = clf4.predict_proba(X_test)[:,1]
print y4_pred

[0.80189612 0.7928901  0.77884348 0.61487607 0.78288691 0.77264954
 0.80495851 0.79109371 0.80494161 0.80981905 0.86338529 0.80573571
 0.80523989 0.84231898 0.55465483 0.80657531 0.29509683 0.83505457
 0.29712191 0.78692159 0.79390016 0.79916443 0.76974874 0.75619799
 0.79483483 0.76569895 0.80155182 0.81492207 0.80377417 0.29463594
 0.82752592 0.79318851 0.78028137 0.23457013 0.76508147 0.79583231
 0.48578086 0.65910338 0.79902783 0.75901995 0.33952725 0.72764353
 0.82748846 0.83185999 0.75964696 0.30642962 0.7815755  0.80008069
 0.80473618 0.79565374 0.79465588 0.77456206 0.30251973 0.86573825
 0.79410785 0.8023781  0.28893936 0.30598262 0.7987902  0.27418293
 0.81795813 0.3441845 ]

In [44]:
#model-5
clf5 = DecisionTreeClassifier(criterion='entropy',max_depth=5)
clf5.fit(X_train1,y_train1)
y5_pred = clf5.predict_proba(X_test)[:,1]
print y5_pred

[[0.12849162 0.87150838]
 [0.28409091 0.71590909]
 [0.12849162 0.87150838]
 [0.28409091 0.71590909]
 [0.12849162 0.87150838]
 [0.28409091 0.71590909]
 [0.12849162 0.87150838]
 [0.12849162 0.87150838]
 [0.12849162 0.87150838]
 [0.28409091 0.71590909]
 [0.29850746 0.70149254]
 [0.12849162 0.87150838]
 [0.12849162 0.87150838]
 [0.12849162 0.87150838]
 [0.28409091 0.71590909]
 [0.28409091 0.71590909]
 [0.55       0.45      ]
 [0.28409091 0.71590909]
 [0.74683544 0.25316456]
 [0.12849162 0.87150838]
 [0.29850746 0.70149254]
 [0.12849162 0.87150838]
 [0.         1.        ]
 [0.12121212 0.87878788]
 [0.28409091 0.71590909]
 [0.28409091 0.71590909]
 [0.12849162 0.87150838]
 [0.28409091 0.71590909]
 [0.12849162 0.87150838]
 [0.55       0.45      ]
 [0.29850746 0.70149254]
 [0.12849162 0.87150838]
 [0.12121212 0.87878788]
 [0.74683544 0.25316456]
 [0.12849162 0.87150838]
 [0.28409091 0.71590909]
 [0.28409091 0.71590909]
 [0.29850746 0.70149254]
 [0.12849162 0.87150838]
 [0.29850746 0.70149254]
 [0.74683544 0.25316456]
 [0.29850746 0.70149254]
 [1.         0.        ]
 [0.28409091 0.71590909]
 [0.28409091 0.71590909]
 [0.55       0.45      ]
 [0.28409091 0.71590909]
 [0.29850746 0.70149254]
 [0.29850746 0.70149254]
 [0.12121212 0.87878788]
 [0.12849162 0.87150838]
 [0.12121212 0.87878788]
 [0.55       0.45      ]
 [0.12849162 0.87150838]
 [0.12849162 0.87150838]
 [0.28409091 0.71590909]
 [0.74683544 0.25316456]
 [0.74683544 0.25316456]
 [0.12849162 0.87150838]
 [0.74683544 0.25316456]
 [0.29850746 0.70149254]
 [0.55       0.45      ]]

In [40]:
all_probs = dataframe

In [42]:
all_probs["p1","p2","p3","p4","p5"] = [y1_pred,y2_pred,y3_pred,y4_pred,y5_pred]
all_probs

ValueError: Length of values does not match length of index