In [5]:
# Importing necessary packages
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [6]:
dataframe = pd.read_csv('../data/loan_prediction.csv')

In [8]:
dataframe.head(5)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,5849,0.0,0.0,360.0,1.0,1
1,4583,1508.0,128.0,360.0,1.0,0
2,3000,0.0,66.0,360.0,1.0,1
3,2583,2358.0,120.0,360.0,1.0,1
4,6000,0.0,141.0,360.0,1.0,1

In [9]:
X = dataframe.iloc[:,0:5]
y = dataframe.iloc[:,5]

In [11]:
clf_gini = DecisionTreeClassifier(criterion='gini')
clf_gini.fit(X,y)
'''y_prediction_gini = clf_gini.predict(X_test)
accuracy_gini = accuracy_score(y_test,y_prediction_gini)

accuracy_gini'''

'y_prediction_gini = clf_gini.predict(X_test)\naccuracy_gini = accuracy_score(y_test,y_prediction_gini)\n\naccuracy_gini'

In [12]:
clf_gini.feature_importances_

array([ 0.34907626,  0.13935586,  0.2667859 ,  0.05762512,  0.18715687])

In [14]:
dataframe.shape

(614, 6)