In [1]:
d = {}
print d
print type(d)

{}
<type 'dict'>

In [2]:
d2 = {10:('Sejal','f',90),4:('jane','f',70)}
print d2
print type(d2)

{10: ('Sejal', 'f', 90), 4: ('jane', 'f', 70)}
<type 'dict'>

In [4]:
#Insert a new entry in dictionary
d2[25] = ('Mark','m',56)
print d2

{25: ('Mark', 'm', 56), 10: ('Sejal', 'f', 90), 4: ('jane', 'f', 70)}

In [6]:
#Update as existing entry in a dict

d2[4] = ('Jane', 'f',60)
print d2

{25: ('Mark', 'm', 56), 10: ('Sejal', 'f', 90), 4: ('Jane', 'f', 60)}

In [7]:
t = d2[10] # here key is the index
print t

('Sejal', 'f', 90)

In [8]:
print len(d2) #Number of entries in dictionary

3

In [9]:
for k in d2: #keys from dictionary
    print k

25
10
4

In [11]:
d2.values()

[('Mark', 'm', 56), ('Sejal', 'f', 90), ('Jane', 'f', 60)]

In [16]:
d2.values()
for ele in d2.values():
    print ele[0]
    print ele[-1]

Mark
56
Sejal
90
Jane
60