In [1]:
import numpy as np 
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt  
import seaborn as sns
from scipy import stats
#For some Statistics
from scipy.stats import norm, skew
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier

In [2]:
def load_csv():
    path = "/home/sejal/Documents/datascience/dataset/data/bank-additional/bank-additional-full.csv"
    #return pd.read_csv('/Users/acko068/Desktop/bank-additional/bank-additional-full.csv', sep=';')
    return pd.read_csv(path, sep=';')

In [3]:
def get_train_test(df, test_size=0.2):
    y = df.y
    X = df.drop('y', axis=1)
    return train_test_split(X, y, test_size=test_size, random_state=9)

In [4]:
df = load_csv()
df.head()
df.y.replace(('yes','no'),(1,0), inplace=True)

In [32]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

In [35]:
df.describe

<bound method DataFrame.describe of        age            job   marital            education  default  housing  \
0       56      housemaid   married             basic.4y       no       no
1       57       services   married          high.school  unknown       no
2       37       services   married          high.school       no      yes
3       40         admin.   married             basic.6y       no       no
4       56       services   married          high.school       no       no
5       45       services   married             basic.9y  unknown       no
6       59         admin.   married  professional.course       no       no
7       41    blue-collar   married              unknown  unknown       no
8       24     technician    single  professional.course       no      yes
9       25       services    single          high.school       no      yes
10      41    blue-collar   married              unknown  unknown       no
11      25       services    single          high.school       no      yes
12      29    blue-collar    single          high.school       no       no
13      57      housemaid  divorced             basic.4y       no      yes
14      35    blue-collar   married             basic.6y       no      yes
15      54        retired   married             basic.9y  unknown      yes
16      35    blue-collar   married             basic.6y       no      yes
17      46    blue-collar   married             basic.6y  unknown      yes
18      50    blue-collar   married             basic.9y       no      yes
19      39     management    single             basic.9y  unknown       no
20      30     unemployed   married          high.school       no       no
21      55    blue-collar   married             basic.4y  unknown      yes
22      55        retired    single          high.school       no      yes
23      41     technician    single          high.school       no      yes
24      37         admin.   married          high.school       no      yes
25      35     technician   married    university.degree       no       no
26      59     technician   married              unknown       no      yes
27      39  self-employed   married             basic.9y  unknown       no
28      54     technician    single    university.degree  unknown       no
29      55        unknown   married    university.degree  unknown  unknown
...    ...            ...       ...                  ...      ...      ...
41158   35     technician  divorced             basic.4y       no       no
41159   35     technician  divorced             basic.4y       no      yes
41160   33         admin.   married    university.degree       no       no
41161   33         admin.   married    university.degree       no      yes
41162   60    blue-collar   married             basic.4y       no      yes
41163   35     technician  divorced             basic.4y       no      yes
41164   54         admin.   married  professional.course       no       no
41165   38      housemaid  divorced    university.degree       no       no
41166   32         admin.   married    university.degree       no       no
41167   32         admin.   married    university.degree       no      yes
41168   38   entrepreneur   married    university.degree       no       no
41169   62       services   married          high.school       no      yes
41170   40     management  divorced    university.degree       no      yes
41171   33        student   married  professional.course       no      yes
41172   31         admin.    single    university.degree       no      yes
41173   62        retired   married    university.degree       no      yes
41174   62        retired   married    university.degree       no      yes
41175   34        student    single              unknown       no      yes
41176   38      housemaid  divorced          high.school       no      yes
41177   57        retired   married  professional.course       no      yes
41178   62        retired   married    university.degree       no       no
41179   64        retired  divorced  professional.course       no      yes
41180   36         admin.   married    university.degree       no       no
41181   37         admin.   married    university.degree       no      yes
41182   29     unemployed    single             basic.4y       no      yes
41183   73        retired   married  professional.course       no      yes
41184   46    blue-collar   married  professional.course       no       no
41185   56        retired   married    university.degree       no      yes
41186   44     technician   married  professional.course       no       no
41187   74        retired   married  professional.course       no      yes

          loan    contact month day_of_week ...  campaign  pdays  previous  \
0           no  telephone   may         mon ...         1    999         0
1           no  telephone   may         mon ...         1    999         0
2           no  telephone   may         mon ...         1    999         0
3           no  telephone   may         mon ...         1    999         0
4          yes  telephone   may         mon ...         1    999         0
5           no  telephone   may         mon ...         1    999         0
6           no  telephone   may         mon ...         1    999         0
7           no  telephone   may         mon ...         1    999         0
8           no  telephone   may         mon ...         1    999         0
9           no  telephone   may         mon ...         1    999         0
10          no  telephone   may         mon ...         1    999         0
11          no  telephone   may         mon ...         1    999         0
12         yes  telephone   may         mon ...         1    999         0
13          no  telephone   may         mon ...         1    999         0
14          no  telephone   may         mon ...         1    999         0
15         yes  telephone   may         mon ...         1    999         0
16          no  telephone   may         mon ...         1    999         0
17         yes  telephone   may         mon ...         1    999         0
18         yes  telephone   may         mon ...         1    999         0
19          no  telephone   may         mon ...         1    999         0
20          no  telephone   may         mon ...         1    999         0
21          no  telephone   may         mon ...         1    999         0
22          no  telephone   may         mon ...         1    999         0
23          no  telephone   may         mon ...         1    999         0
24          no  telephone   may         mon ...         1    999         0
25         yes  telephone   may         mon ...         1    999         0
26          no  telephone   may         mon ...         1    999         0
27          no  telephone   may         mon ...         1    999         0
28          no  telephone   may         mon ...         2    999         0
29     unknown  telephone   may         mon ...         1    999         0
...        ...        ...   ...         ... ...       ...    ...       ...
41158       no   cellular   nov         tue ...         1    999         0
41159       no   cellular   nov         tue ...         1      9         4
41160       no   cellular   nov         tue ...         1    999         0
41161       no   cellular   nov         tue ...         1    999         1
41162       no   cellular   nov         tue ...         2      4         1
41163       no   cellular   nov         tue ...         3      4         2
41164       no   cellular   nov         tue ...         2     10         1
41165       no   cellular   nov         wed ...         2    999         0
41166       no  telephone   nov         wed ...         1    999         1
41167       no   cellular   nov         wed ...         3    999         0
41168       no   cellular   nov         wed ...         2    999         0
41169       no   cellular   nov         wed ...         5    999         0
41170       no   cellular   nov         wed ...         2    999         4
41171       no  telephone   nov         thu ...         1    999         0
41172       no   cellular   nov         thu ...         1    999         0
41173       no   cellular   nov         thu ...         1    999         2
41174       no   cellular   nov         thu ...         1      1         6
41175       no   cellular   nov         thu ...         1    999         2
41176      yes   cellular   nov         thu ...         1    999         0
41177       no   cellular   nov         thu ...         6    999         0
41178       no   cellular   nov         thu ...         2      6         3
41179       no   cellular   nov         fri ...         3    999         0
41180       no   cellular   nov         fri ...         2    999         0
41181       no   cellular   nov         fri ...         1    999         0
41182       no   cellular   nov         fri ...         1      9         1
41183       no   cellular   nov         fri ...         1    999         0
41184       no   cellular   nov         fri ...         1    999         0
41185       no   cellular   nov         fri ...         2    999         0
41186       no   cellular   nov         fri ...         1    999         0
41187       no   cellular   nov         fri ...         3    999         1

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0      nonexistent          1.1          93.994          -36.4      4.857
1      nonexistent          1.1          93.994          -36.4      4.857
2      nonexistent          1.1          93.994          -36.4      4.857
3      nonexistent          1.1          93.994          -36.4      4.857
4      nonexistent          1.1          93.994          -36.4      4.857
5      nonexistent          1.1          93.994          -36.4      4.857
6      nonexistent          1.1          93.994          -36.4      4.857
7      nonexistent          1.1          93.994          -36.4      4.857
8      nonexistent          1.1          93.994          -36.4      4.857
9      nonexistent          1.1          93.994          -36.4      4.857
10     nonexistent          1.1          93.994          -36.4      4.857
11     nonexistent          1.1          93.994          -36.4      4.857
12     nonexistent          1.1          93.994          -36.4      4.857
13     nonexistent          1.1          93.994          -36.4      4.857
14     nonexistent          1.1          93.994          -36.4      4.857
15     nonexistent          1.1          93.994          -36.4      4.857
16     nonexistent          1.1          93.994          -36.4      4.857
17     nonexistent          1.1          93.994          -36.4      4.857
18     nonexistent          1.1          93.994          -36.4      4.857
19     nonexistent          1.1          93.994          -36.4      4.857
20     nonexistent          1.1          93.994          -36.4      4.857
21     nonexistent          1.1          93.994          -36.4      4.857
22     nonexistent          1.1          93.994          -36.4      4.857
23     nonexistent          1.1          93.994          -36.4      4.857
24     nonexistent          1.1          93.994          -36.4      4.857
25     nonexistent          1.1          93.994          -36.4      4.857
26     nonexistent          1.1          93.994          -36.4      4.857
27     nonexistent          1.1          93.994          -36.4      4.857
28     nonexistent          1.1          93.994          -36.4      4.857
29     nonexistent          1.1          93.994          -36.4      4.857
...            ...          ...             ...            ...        ...
41158  nonexistent         -1.1          94.767          -50.8      1.035
41159      success         -1.1          94.767          -50.8      1.035
41160  nonexistent         -1.1          94.767          -50.8      1.035
41161      failure         -1.1          94.767          -50.8      1.035
41162      success         -1.1          94.767          -50.8      1.035
41163      success         -1.1          94.767          -50.8      1.035
41164      success         -1.1          94.767          -50.8      1.035
41165  nonexistent         -1.1          94.767          -50.8      1.030
41166      failure         -1.1          94.767          -50.8      1.030
41167  nonexistent         -1.1          94.767          -50.8      1.030
41168  nonexistent         -1.1          94.767          -50.8      1.030
41169  nonexistent         -1.1          94.767          -50.8      1.030
41170      failure         -1.1          94.767          -50.8      1.030
41171  nonexistent         -1.1          94.767          -50.8      1.031
41172  nonexistent         -1.1          94.767          -50.8      1.031
41173      failure         -1.1          94.767          -50.8      1.031
41174      success         -1.1          94.767          -50.8      1.031
41175      failure         -1.1          94.767          -50.8      1.031
41176  nonexistent         -1.1          94.767          -50.8      1.031
41177  nonexistent         -1.1          94.767          -50.8      1.031
41178      success         -1.1          94.767          -50.8      1.031
41179  nonexistent         -1.1          94.767          -50.8      1.028
41180  nonexistent         -1.1          94.767          -50.8      1.028
41181  nonexistent         -1.1          94.767          -50.8      1.028
41182      success         -1.1          94.767          -50.8      1.028
41183  nonexistent         -1.1          94.767          -50.8      1.028
41184  nonexistent         -1.1          94.767          -50.8      1.028
41185  nonexistent         -1.1          94.767          -50.8      1.028
41186  nonexistent         -1.1          94.767          -50.8      1.028
41187      failure         -1.1          94.767          -50.8      1.028

       nr.employed  y
0           5191.0  0
1           5191.0  0
2           5191.0  0
3           5191.0  0
4           5191.0  0
5           5191.0  0
6           5191.0  0
7           5191.0  0
8           5191.0  0
9           5191.0  0
10          5191.0  0
11          5191.0  0
12          5191.0  0
13          5191.0  0
14          5191.0  0
15          5191.0  0
16          5191.0  0
17          5191.0  0
18          5191.0  0
19          5191.0  0
20          5191.0  0
21          5191.0  0
22          5191.0  0
23          5191.0  0
24          5191.0  0
25          5191.0  0
26          5191.0  0
27          5191.0  0
28          5191.0  0
29          5191.0  0
...            ... ..
41158       4963.6  1
41159       4963.6  1
41160       4963.6  1
41161       4963.6  0
41162       4963.6  0
41163       4963.6  1
41164       4963.6  1
41165       4963.6  1
41166       4963.6  1
41167       4963.6  0
41168       4963.6  0
41169       4963.6  0
41170       4963.6  0
41171       4963.6  1
41172       4963.6  1
41173       4963.6  1
41174       4963.6  1
41175       4963.6  0
41176       4963.6  0
41177       4963.6  0
41178       4963.6  1
41179       4963.6  0
41180       4963.6  0
41181       4963.6  1
41182       4963.6  0
41183       4963.6  1
41184       4963.6  0
41185       4963.6  0
41186       4963.6  1
41187       4963.6  0

[41188 rows x 21 columns]>

In [5]:
def get_categorical_features(df):
    numeric_feature = [a for a in range(len(df.dtypes)) if df.dtypes[a] in ['int8','int64','float64']]
    return df.columns.difference(df.columns[numeric_feature])

In [6]:
def label_encode(column_list, df):
    le = LabelEncoder()
    for col in column_list:
        df[col] = le.fit_transform(df[col])

In [7]:
def preprocess_data(X):
    clist= get_categorical_features(X)
    label_encode(clist,X)
    X["age"] = pd.qcut(X["age"],4 ,labels=False)
    X["called_before"] = np.where(X["pdays"]==999,0,1)
    X.drop("pdays",axis=1, inplace=True)
    X.drop("duration",axis=1, inplace=True)
    X.drop("nr.employed",axis=1, inplace=True)

In [8]:
X_train, X_test, y_train, y_test = get_train_test(df, 0.1)

In [9]:
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_train, y_train, test_size=0.1, random_state=9)

In [10]:
preprocess_data(X_train_2)

/home/sejal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/sejal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/sejal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/sejal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/sejal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
preprocess_data(X_test_2)

/home/sejal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/sejal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/sejal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/sejal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/sejal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
preprocess_data(X_test)

In [13]:
sm = SMOTE(random_state=12)
x_train_res, y_train_res = sm.fit_sample(X_train_2, y_train_2)

In [14]:
test_smote = pd.DataFrame(x_train_res, columns = X_test_2.columns.values)

In [15]:
test_y = pd.Series(y_train_res)

In [16]:
rf = RandomForestClassifier()
rf.fit(test_smote, test_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [17]:
y_pred = rf.predict_proba(X_test_2)[:,1]

In [18]:
y_pred1 = rf.predict(X_test_2)

In [19]:
rf.feature_importances_

array([0.07551957, 0.05509677, 0.08413194, 0.0578936 , 0.06618739,
       0.03080797, 0.02243441, 0.04251766, 0.03371534, 0.06401717,
       0.07512091, 0.0306449 , 0.04879191, 0.06321724, 0.03573904,
       0.02022719, 0.16239602, 0.03154098])

In [20]:
metrics.roc_auc_score(y_test_2,y_pred)

0.7205975943486285

In [21]:
metrics.recall_score(y_test_2,y_pred1)

0.2656641604010025

In [22]:
#Model-1
clf_gini =  DecisionTreeClassifier(criterion='gini', max_depth=6)
clf_gini.fit(X_train_2, y_train_2)

y_prediction_gini = clf_gini.predict_proba(X_test_2)[:,1]

In [23]:
#Model-2
clf_entropy = DecisionTreeClassifier(criterion='entropy', max_depth=6)
clf_entropy.fit(X_train_2, y_train_2)

y_prediction_entropy = clf_entropy.predict_proba(X_test_2)[:,1]

In [24]:
#Model-3
clf_random = RandomForestClassifier(n_estimators=2, max_depth=3)
clf_random.fit(X_train_2, y_train_2)

y_prediction_random = clf_random.predict_proba(X_test_2)[:,1]

In [25]:
all_probs = pd.DataFrame(list(zip(y_prediction_gini, y_prediction_entropy, y_prediction_random)), columns=['p1','p2','p3'])

In [26]:
meta_classifier =  RandomForestClassifier(n_estimators= 10, random_state=3)
meta_classifier.fit(all_probs, y_test_2)
#meta_prob = rf.predict(X_test1)
#print meta_prob

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=3, verbose=0, warm_start=False)

In [27]:
result_Pred1 = clf_gini.predict_proba(X_test)
result_Pred2 = clf_entropy.predict_proba(X_test)
result_Pred3 = clf_random.predict_proba(X_test)

In [28]:
meta_data = pd.concat([pd.DataFrame(result_Pred1[:,1]), pd.DataFrame(result_Pred2[:,1]), pd.DataFrame(result_Pred3[:,1])], axis=1)
meta_data.head()

          0         0         0
0  0.106112  0.106112  0.140277
1  0.290954  0.290954  0.389774
2  0.503030  0.503030  0.336302
3  0.060787  0.066533  0.050764
4  0.109398  0.167224  0.140277

In [29]:
meta_predict =  meta_classifier.predict_proba(meta_data)

In [30]:
metrics.roc_auc_score(y_test, meta_predict[:,1])

0.7943541627752155

In [31]:
meta_predict1 =   meta_classifier.predict(meta_data)
metrics.recall_score(y_test, meta_predict1)

0.27850877192982454