In [1]:
import numpy as np 
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt  
import seaborn as sns
from scipy import stats
#For some Statistics
from scipy.stats import norm, skew
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestClassifier

In [552]:
def load_csv():
    path = "/home/sejal/Documents/datascience/dataset/data/bank-additional/bank-additional-full.csv"
    #return pd.read_csv('/Users/acko068/Desktop/bank-additional/bank-additional-full.csv', sep=';')
    return pd.read_csv(path, sep=';')

In [553]:
def get_train_test(df, test_size=0.2):
    y = df.y
    X = df.drop('y', axis=1)
    return train_test_split(X, y, test_size=test_size, random_state=9)

In [554]:
df = load_csv()
df.head()
df.y.replace(('yes','no'),(1,0), inplace=True)

In [555]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

In [556]:
df.columns

Index([u'age', u'job', u'marital', u'education', u'default', u'housing',
       u'loan', u'contact', u'month', u'day_of_week', u'duration', u'campaign',
       u'pdays', u'previous', u'poutcome', u'emp.var.rate', u'cons.price.idx',
       u'cons.conf.idx', u'euribor3m', u'nr.employed', u'y'],
      dtype='object')

In [557]:
def get_categorical_features(df):
    numeric_feature = [a for a in range(len(df.dtypes)) if df.dtypes[a] in ['int8','int64','float64']]
    return df.columns.difference(df.columns[numeric_feature])

In [558]:
def label_encode(column_list, df):
    le = LabelEncoder()
    for col in column_list:
        df[col] = le.fit_transform(df[col])

In [559]:
def preprocess_data(X):
    
    
    
    #X["called_before"] = np.where(X["pdays"]==999,0,1)
    
    #clist= get_categorical_features(X)
    
    
    
    #X = pd.concat([X,oh_encode], axis=1)
    
    
    #print(X.head())
    return X

In [560]:
def remove_unwanted(X):
    X.drop("pdays",axis=1, inplace=True)
    X.drop("duration",axis=1, inplace=True)
    X.drop("nr.employed",axis=1, inplace=True)
    X.drop("day_of_week",axis=1, inplace=True)
    X.drop("poutcome",axis=1, inplace=True)

In [561]:
def apply_qcut(X, col):
    X[col] = pd.qcut(X[col],4 ,labels=False)

In [562]:
def onehot_encode(X, oh_col):
    X = pd.get_dummies(X, columns=oh_col)
    return X
    #X.drop(oh_col,axis=1, inplace=True)

In [563]:
def impute_unknowns(df, column):
    col_values = df[column].values
    df[column] = np.where(col_values=='unknown', df[column].mode(), col_values)

In [564]:
#Drop unwanted cols
def remove_oh_cols(X):
    X.drop("loan_no",axis=1, inplace=True)
    X.drop("housing_no",axis=1, inplace=True)
#     X.drop("job",axis=1, inplace=True)
#     X.drop("marital",axis=1, inplace=True)
#     X.drop("education",axis=1, inplace=True)
#     X.drop("default",axis=1, inplace=True)
#     X.drop("housing",axis=1, inplace=True)
#     X.drop("loan",axis=1, inplace=True)

In [565]:
remove_unwanted(df)

In [566]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,1,0,1.1,93.994,-36.4,4.857,0
1,57,services,married,high.school,unknown,no,no,telephone,may,1,0,1.1,93.994,-36.4,4.857,0
2,37,services,married,high.school,no,yes,no,telephone,may,1,0,1.1,93.994,-36.4,4.857,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,1,0,1.1,93.994,-36.4,4.857,0
4,56,services,married,high.school,no,no,yes,telephone,may,1,0,1.1,93.994,-36.4,4.857,0

In [567]:
apply_qcut(df,"age")

In [568]:
label_encode(['month'],df)
label_encode(['contact'],df)

In [569]:
#one hot encoding
oh_list = ['contact', 'default', 'education', 'housing',
    'job', 'loan', 'marital']
#for col in oh_list:
ohot_df = onehot_encode(df,oh_list)
df = ohot_df
#df = pd.concat([df, ohot_df], axis=1)

In [570]:
remove_oh_cols(df)

In [571]:
df.shape

(41188, 42)

In [572]:
df.columns

Index([u'age', u'month', u'campaign', u'previous', u'emp.var.rate',
       u'cons.price.idx', u'cons.conf.idx', u'euribor3m', u'y', u'contact_0',
       u'contact_1', u'default_no', u'default_unknown', u'default_yes',
       u'education_basic.4y', u'education_basic.6y', u'education_basic.9y',
       u'education_high.school', u'education_illiterate',
       u'education_professional.course', u'education_university.degree',
       u'education_unknown', u'housing_unknown', u'housing_yes', u'job_admin.',
       u'job_blue-collar', u'job_entrepreneur', u'job_housemaid',
       u'job_management', u'job_retired', u'job_self-employed',
       u'job_services', u'job_student', u'job_technician', u'job_unemployed',
       u'job_unknown', u'loan_unknown', u'loan_yes', u'marital_divorced',
       u'marital_married', u'marital_single', u'marital_unknown'],
      dtype='object')

In [573]:
X_train, X_test, y_train, y_test = get_train_test(df, 0.1)

In [574]:
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_train, y_train, test_size=0.1, random_state=9)

In [575]:
X_train.shape

(37069, 41)

In [576]:
y_train.shape

(37069,)

In [522]:
# #impute unknows for X_train_2
# impute_unknowns(X_train_2,'marital')
# impute_unknowns(X_train_2,'education')
# impute_unknowns(X_train_2,'housing')
# impute_unknowns(X_train_2,'job')
# impute_unknowns(X_train_2,'loan')

In [577]:
sm = SMOTE(random_state=12)
x_train_res, y_train_res = sm.fit_sample(X_train_2, y_train_2)

In [578]:
X_test_2.columns

Index([u'age', u'month', u'campaign', u'previous', u'emp.var.rate',
       u'cons.price.idx', u'cons.conf.idx', u'euribor3m', u'contact_0',
       u'contact_1', u'default_no', u'default_unknown', u'default_yes',
       u'education_basic.4y', u'education_basic.6y', u'education_basic.9y',
       u'education_high.school', u'education_illiterate',
       u'education_professional.course', u'education_university.degree',
       u'education_unknown', u'housing_unknown', u'housing_yes', u'job_admin.',
       u'job_blue-collar', u'job_entrepreneur', u'job_housemaid',
       u'job_management', u'job_retired', u'job_self-employed',
       u'job_services', u'job_student', u'job_technician', u'job_unemployed',
       u'job_unknown', u'loan_unknown', u'loan_yes', u'marital_divorced',
       u'marital_married', u'marital_single', u'marital_unknown'],
      dtype='object')

In [579]:
X_train_2.columns

Index([u'age', u'month', u'campaign', u'previous', u'emp.var.rate',
       u'cons.price.idx', u'cons.conf.idx', u'euribor3m', u'contact_0',
       u'contact_1', u'default_no', u'default_unknown', u'default_yes',
       u'education_basic.4y', u'education_basic.6y', u'education_basic.9y',
       u'education_high.school', u'education_illiterate',
       u'education_professional.course', u'education_university.degree',
       u'education_unknown', u'housing_unknown', u'housing_yes', u'job_admin.',
       u'job_blue-collar', u'job_entrepreneur', u'job_housemaid',
       u'job_management', u'job_retired', u'job_self-employed',
       u'job_services', u'job_student', u'job_technician', u'job_unemployed',
       u'job_unknown', u'loan_unknown', u'loan_yes', u'marital_divorced',
       u'marital_married', u'marital_single', u'marital_unknown'],
      dtype='object')

In [580]:
test_smote = pd.DataFrame(x_train_res, columns = X_test_2.columns.values)

In [581]:
test_y = pd.Series(y_train_res)

In [582]:
rf = RandomForestClassifier()
rf.fit(test_smote, test_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [583]:
y_pred = rf.predict_proba(X_test_2)[:,1]

In [584]:
y_pred1 = rf.predict(X_test_2)

In [585]:
rf.feature_importances_

array([6.56385068e-02, 2.11191186e-02, 7.02834316e-02, 4.81151961e-02,
       1.04352384e-01, 2.34108102e-02, 4.18311332e-02, 1.44054185e-01,
       2.87470680e-02, 3.28459659e-02, 2.50334261e-02, 1.79399772e-02,
       5.48872601e-08, 1.02598630e-02, 7.97368609e-03, 1.64379611e-02,
       2.02105383e-02, 1.63304361e-04, 1.34186123e-02, 1.97402211e-02,
       7.19811167e-03, 3.03303855e-03, 6.50737361e-02, 2.45248932e-02,
       2.01756833e-02, 6.23571939e-03, 4.22162201e-03, 1.15875206e-02,
       7.15859943e-03, 7.58253259e-03, 1.33438397e-02, 4.63402851e-03,
       1.52513463e-02, 4.76056982e-03, 1.99570073e-03, 2.58831475e-03,
       3.70358087e-02, 1.26250770e-02, 2.09107561e-02, 1.78262015e-02,
       6.61455806e-04])

In [586]:
metrics.roc_auc_score(y_test_2,y_pred)

0.7156930263991297

In [587]:
metrics.recall_score(y_test_2,y_pred1)

0.2832080200501253