In [28]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [29]:
path = '/home/sejal/Documents/datascience/dataset/data/Concrete_Data.xls'

data = pd.read_excel(path)
data.head()

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),"Concrete compressive strength(MPa, megapascals)"
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075

In [30]:
data.shape

(1030, 9)

In [31]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [32]:
y.head()

0    79.986111
1    61.887366
2    40.269535
3    41.052780
4    44.296075
Name: Concrete compressive strength(MPa, megapascals) , dtype: float64

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
lr = LinearRegression()

In [35]:
lr.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [36]:
lr.coef_

array([ 0.11978526,  0.10384725,  0.08794308, -0.1502979 ,  0.29068694,
        0.01803018,  0.02015446,  0.11422562])

In [37]:
lr.intercept_

-23.163755811079092

In [38]:
y_pred = lr.predict(X)

In [39]:
pd.DataFrame({"y_act" : y,"y_pred" : y_pred})

          y_act     y_pred
0     79.986111  53.472859
1     61.887366  53.743312
2     40.269535  56.811947
3     41.052780  67.663381
4     44.296075  60.917232
5     47.029847  26.857708
6     43.698299  68.420437
7     36.447770  29.926403
8     45.854291  19.775720
9     39.289790  31.440513
10    38.074244  30.076315
11    28.021684  22.994326
12    43.012960  58.326058
13    42.326932  25.646420
14    47.813782  20.381364
15    52.908320  28.674641
16    39.358048  31.867220
17    56.141962  59.481042
18    40.563252  37.008391
19    42.620648  48.802808
20    41.836714  48.045752
21    28.237490  24.785232
22     8.063422  21.929591
23    44.207822  42.147526
24    52.516697  60.086687
25    53.300632  49.235253
26    41.151375  57.569003
27    52.124386  38.349303
28    37.427515  30.683458
29    38.603761  29.041775
...         ...        ...
1000  44.611855  34.571794
1001  53.524711  39.889650
1002  57.218234  39.564500
1003  65.909079  46.579133
1004  52.826962  43.715065
1005  33.399596  31.868545
1006  18.033934  22.225661
1007  37.363394  32.460202
1008  35.314271  33.611768
1009  42.644091  31.188560
1010  40.062003  29.739284
1011  43.798273  40.030731
1012  61.235811  44.569531
1013  40.868690  39.401463
1014  33.306517  36.607181
1015  52.426376  40.088787
1016  15.091251  26.093091
1017  38.461040  37.388142
1018  37.265488  37.097487
1019  35.225329  20.004206
1020  42.140084  35.605831
1021  31.875165  27.731884
1022  41.542308  34.125708
1023  39.455954  36.163639
1024  37.917043  35.193218
1025  44.284354  39.897088
1026  31.178794  33.500867
1027  23.696601  26.470993
1028  32.768036  29.115647
1029  32.401235  31.893986

[1030 rows x 2 columns]

In [40]:
from sklearn.metrics import mean_squared_error

In [41]:
mean_squared_error(y , y_pred)

107.21180273450533

In [42]:
lr.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': 1, 'normalize': False}