In [29]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()

In [30]:
path = "/home/sejal/Documents/datascience/dataset/data/train.csv"

In [31]:
df = pd.read_csv(path)

In [32]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [36]:
X = df["Fare"]
y = df["Survived"]

In [46]:
# create training and testing vars
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=9)
print X_train.shape, y_train.shape
print X_test.shape, y_test.shape

(712,) (712,)
(179,) (179,)

In [47]:
clf.fit(X_train.reshape(-1,1), y_train)

/home/sejal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """Entry point for launching an IPython kernel.

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [52]:
y_pred = clf.predict(X_test.reshape(-1,1))

/home/sejal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """Entry point for launching an IPython kernel.

In [68]:
theta0 =  clf.intercept_
theta1=  clf.coef_

print theta0
print theta1

#Find value of threshhold when y = 0.5
#treshhold = -(theta0 / thetaX) # Decision boundary for X-axis considering 0.5 on Y axis
#print treshhold

#Use below when y is not 0.5. As of now let's aasume y=0.5 so we should get same threshhold as we got in abouve shortcut formula
threshhold = -(np.log(1/0.5-1)+theta0)/theta1
print threshhold

decision_boundary = threshhold

[-0.98388502]
[[0.0147244]]
[[66.82003984]]