Sets = For storing unique elements. There is no order in a set

In [13]:
l = [10, 10, 4, 5, 2, 2, 3, 10, 10, 1, 1, 6]

In [14]:
unique_marks = set(l)
print unique_marks
print type(unique_marks)
print unique_marks

set([1, 2, 3, 4, 5, 6, 10])
<type 'set'>
set([1, 2, 3, 4, 5, 6, 10])

In [15]:
s1 = {5,6,4,3,5,6,4,1}
print s1
print type(s1)

set([1, 3, 4, 5, 6])
<type 'set'>

In [16]:
#empty set
s2 = {}
print s2
print type(s2)

{}
<type 'dict'>

In [17]:
s2 = set() # for creating empty set
print s2
print type(s2)

set([])
<type 'set'>

In [18]:
s2.add(5)
s2.add(6)
s2.add(5)
s2.add(5)
s2.add(10)
print s2

set([10, 5, 6])

In [19]:
s2.add(10)
print s2

set([10, 5, 6])

In [20]:
# Remove an element
s2.remove(5)
print (s2)

set([10, 6])

In [21]:
s2.add('sejal')
print s2

set(['sejal', 10, 6])

In [22]:
s2.remove('sejal')
print s2

set([10, 6])

In [23]:
#s2[0] = 11
#print s2

In [24]:
s2.clear()
print s2

set([])

In [25]:
m1 = {10,4,5,1,3}
m2 = {8,5,3,9,2}
print m1
print m2

set([1, 10, 3, 4, 5])
set([8, 9, 2, 3, 5])

In [26]:
print m1 - m2 # Remove comman ones and get remaining from first set
print m1 & m2 #Union Comman in both
print m1 | m2 # Intersections a+b All elements of both
print m1 ^ m2 #Uncommnam ones Uniques from both

set([1, 10, 4])
set([3, 5])
set([1, 2, 3, 4, 5, 8, 9, 10])
set([1, 2, 4, 8, 9, 10])