In [6]:
record = 'Sejal, M, 30, 99\n'
print record

Sejal, M, 30, 99

In [10]:
print len(record)

17

In [7]:
print record[0]
print record[-1]
print record[-2]

S


9

In [8]:
print record[0:5]
print record[:5]
print record[2:]

Sejal
Sejal
jal, M, 30, 99

In [9]:
for s in record:
    print s

S
e
j
a
l
,

M
,

3
0
,

9
9

In [23]:
u = record.upper()
print u

fullname = 'sejal varu'
print fullname.title()
print fullname.capitalize()
print fullname.lower()
print '30' in record
print '50' in record
# 'in' is membership operator and can be used with anything that is collections of object

SEJAL, M, 30, 99

Sejal Varu
Sejal varu
sejal varu
True
False

In [31]:
print record
new_str = record[:-1] # removes \n from end
print new_str

tokens = new_str.split(',')
print tokens


name, gender, roll, marks = tokens

print name
print gender
print roll
print marks

Sejal, M, 30, 99

Sejal, M, 30, 99
['Sejal', ' M', ' 30', ' 99']
Sejal
 M
 30
 99

In [35]:
name = 'Sejal'
roll = 10
marks = 56.6

details = 'name : '+ name +'\nRoll no: '+ str(roll)
print details

name : Sejal
Roll no: 10

In [36]:
details = 'Name : {0}\nRoll :{1}\nMarks: {2}'.format(name,roll,marks)
print details

Name : Sejal
Roll :10
Marks: 56.6

In [1]:
s = 'I am a girl'
print s[2::2]

a  il